<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <app-sidebar v-bind:resList="reservationList" />
      </div>
      <div class="col-md-8 col-xs-12">
        <ActiveDeskList :AdditionList="openAdditionList" />
      </div>
    </div>
  </div>
</template>

<script>
import sidebar from "@/components/admin/sidebar";
import ActiveDeskList from "@/components/admin/ActiveDeskList";
export default {
  layout: "admin",
  components: {
    appSidebar: sidebar,
    ActiveDeskList
  },
  created(){},
  asyncData(context) {
    return {
      reservationList: context.store.getters.getWaitingReservation,
      openAdditionList: context.store.getters.getOpenAdditionList
    };
  }
};
</script>
