<template>
  <div>
    <h5>Filtre</h5>
    <hr>
    <label> Tarih Aralığı Belirleyin </label>
    <div class="row">
      <div class="col-6">
        <small>Başlangıç</small>
        <input type="date" v-model="dateFilter.started_date" class="form-control">
      </div>
      <div class="col-6">
        <small>Bitiş</small>
        <input type="date" class="form-control" v-model="dateFilter.finished_date">
      </div>
    </div>
    <div class="custom-control custom-checkbox">
      <input :checked="selectMultipleAdddition" @change="selectMultipleAdddition = !selectMultipleAdddition" type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Adisyon Numarası Girin <i>(Eğer Aralık Belirtilecek ise İşaretleyin!)</i></label>
    </div>
    <input value="1" v-if="!selectMultipleAdddition" v-model="singleAdditionID" type="number" min="1" class="form-control"/>

    <div class="row" v-else>
      <div class="col-6">
        <label> Başlangıç Numarası </label>
        <input type="number" v-model="additionIdBetween.started_id" class="form-control">
      </div>
      <div class="col-6">
        <label> Bitiş Numarası </label>
        <input type="number" v-model="additionIdBetween.finished_id" class="form-control">
      </div>
    </div>


    <label> Ödeme Tipi Belirleyin </label>
    <select v-model="paymentType" class="form-control">
      <option selected disabled value="-1"> Seçebilirsiniz </option>
      <option value="0">Kart</option>
      <option value="1">Nakit</option>
      <option value="2">Kart + Nakit</option>
    </select>
    <button @click="filterList" class="btn btn-primary btn-block my-2">
      Filtrele <i class="fas fa-filter"></i>
    </button>
    <button @click="removeFilter" class="btn btn-danger btn-block my-2">
      Tüm Listeyi Göster <i class="fas fa-list"></i>
    </button>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dateFilter : {
          started_date : "",
          finished_date: "",
        },
        selectMultipleAdddition : false,
        additionIdBetween : {
          started_id : 1,
          finished_id : this.lastAdditionID
        },
        singleAdditionID : 0,
        paymentType: -1
      }
    },
    methods : {
      filterList(){
        let filter_params = {};

        //Tarih Alanları İçin İf
        if(this.dateFilter.started_date.length > 0 &&  this.dateFilter.finished_date.length > 0)
        {
          filter_params = {...filter_params, started_date : new Date(this.dateFilter.started_date), finished_date : new Date(this.dateFilter.finished_date)};
        }
        else if(this.dateFilter.started_date.length > 0)
          filter_params = {...filter_params, started_date : new Date(this.dateFilter.started_date)};

        //Adisyon Aralığı
        if(this.selectMultipleAdddition === true)
        {
          if(this.additionIdBetween.started_id > 0 && this.additionIdBetween.finished_id > 0)
            filter_params = {...filter_params, multipleAddition : true, started_id : this.additionIdBetween.started_id, finished_id : parseInt(this.additionIdBetween.finished_id) };
        }
        else{
          if(parseInt(this.singleAdditionID) > 0)
          {
            filter_params  = {...filter_params, multipleAddition : false, addition_id : this.singleAdditionID};

          }
        }

        if(this.paymentType > -1)
          filter_params = {...filter_params, paymentType : this.paymentType};

        this.$emit('FilterListener', filter_params);

      },
      removeFilter(){
        this.$emit('RemoveFilterListener');
      }
    },
    props : ['lastAdditionID']
  }
</script>
