<template>
  <div class="shadow my-2 p-2">
    <h5>Ödeme Listesi</h5>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Ödeme Tipi</th>
            <th>Ad. No</th>
            <th>Toplam Tutar (₺)</th>
            <th>Kart Tutar(₺)</th>
            <th>Nakit Tutar (₺)</th>
            <th>Ödeme Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in paymentList" :key="item.ID" v-if="item.ID > 0">
            <td>{{item.ID}}</td>
            <td>{{item.PaymentTypeValue}}</td>
            <td>
              <nuxt-link :to="'/admin/addition/show-addition/' + item.AdditionID" class="btn btn-dark btn-sm">{{item.AdditionID}}</nuxt-link>
            </td>
            <td>{{item.TotalPrice}} ₺</td>
            <td>{{item.CartPrice}} ₺</td>
            <td>{{item.CashPrice}} ₺</td>
            <td>{{item.PaymentDate}}</td>
          </tr>
          <tr class="bg-warning text-white">
            <td colspan="12" class="text-center">
              Herhangi bir veri bulunamadı!
              <nuxt-link to="/admin/addition/create-addition">Oluşturmak isterseniz tıklayabilirsiniz!</nuxt-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props : ['paymentList']
};
</script>

<style>
</style>
