<template>
  <tr>
    <td>#{{AdditionItem.AdditionID}}</td>
    <td>{{AdditionItem.DeskTitle}}</td>
    <td>{{AdditionItem.DeskPosition}}</td>
    <td>
      {{AdditionItem.TotalPrice}}
      <i class="fas fa-lira-sign"></i>
    </td>
    <td>{{AdditionItem.AdditionMovementCount}} Adet</td>
    <td>
      <nuxt-link
        :to="'/admin/addition/show-addition/' + AdditionItem.AdditionID"
        class="btn btn-block btn-sm btn-warning"
      >
        <i class="fas fa-eye"></i>
      </nuxt-link>
      <nuxt-link
        :to="'/admin/addition/add-movement/' + AdditionItem.AdditionID"
        class="btn btn-block btn-sm btn-danger"
      >
        <i class="fas fa-plus"></i>
      </nuxt-link>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["AdditionItem"]
};
</script>
