<template>
  <div class="col-12 my-2 shadow">
    <div class="row">
      <div class="col-11">
        <h5>Masa Oluştur</h5>
      </div>
      <div class="col-1"></div>
      <div class="col-12">
        <hr />
      </div>
      <div class="col-6">
        <label for>Masa Adı</label>
        <input v-model="desk_name" type="text" class="form-control" />
      </div>
      <div class="col-6">
        <label for>Masa Pozisyonu</label>
        <select v-model="desk_position" name id class="form-control">
          <option value="-1" disabled selected>Lütfen Seçiniz</option>
          <option value="0">İçeri</option>
          <option value="1">Dışarı</option>
          <option value="2">Bahçe</option>
        </select>
      </div>
      <div class="col-12">
        <button @click="CreateDeskListener" class="btn btn-primary btn-block my-2">Oluştur</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      desk_name: "",
      desk_position: ""
    };
  },
  methods: {
    CreateDeskListener() {
      if (this.desk_name.length > 0 && this.desk_position > -1) {
        this.$emit("CreateDeskListener", {
          desk_title: this.desk_name,
          desk_position: this.desk_position
        });

        this.desk_name = "";
        this.desk_position = -1;
      } else {
        alert("Boş Alan Bırakmayınız, Geçersiz Bilgi Vermeyiniz");
      }
    }
  }
};
</script>

<style>
</style>