<template>
  <div class="col-12 shadow my-2 p-2">
    <h5>
      Masa Listesi
      <i class="fas fa-table"></i>
    </h5>

    <DeskFilter @filterListener="$emit('ListFilterListener', $event)" />

    <div class="table-responsive">
      <table class="table table-dark">
        <thead class="text-center">
          <tr>
            <th>#</th>
            <th>Masa Adı</th>
            <th>Masa Pozisyonu</th>
            <th>
              <i class="fas fa-cog"></i>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <DeskListTableItem
            :item="item"
            v-for="item in deskList"
            v-bind:key="item.ID"
            @updateListener="updateDesk($event)"
            @trashListener="deleteDesk($event)"
          />
        </tbody>
      </table>
    </div>
    <!-- Update Form -->
    <DeskUpdateForm
      v-if="showEditDeskForm"
      @ItemUpdateListener="ItemUpdateEvent($event)"
      :item="selected_item"
    />
  </div>
</template>

<script>
import Swal from "sweetalert2";
import DeskUpdateForm from "./DeskUpdateForm";
import DeskFilter from "./DeskFilter";
import DeskListTableItem from "./DeskListTableItem";
export default {
  components: {
    DeskUpdateForm,
    DeskFilter,
    DeskListTableItem
  },
  data() {
    return {
      showEditDeskForm: false,
      selected_item: {}
    };
  },
  props: ["deskList"],
  created() {
    //console.log(this.deskList);
  },
  methods: {
    deleteDesk(deleted_item) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger mx-2"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons
        .fire({
          title: "Silmek İstediğinize Emin Misiniz?",
          text:
            "Mevcut Masa Silinecektir. Bu işlemi gerçekleştirmek istediğinize emin misiniz?!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sil!",
          cancelButtonText: "Hayır vazgeçtim!",
          reverseButtons: true
        })
        .then(result => {
          if (result.value) {
            this.$emit("TrashItemListener", deleted_item);
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire(
              "Masa Silinemedi",
              "Masayı Silmekten Vazgeçtiniz :)",
              "error"
            );
          }
        });
    },
    updateDesk(item) {
      this.showEditDeskForm = true;
      this.selected_item = item;
    },
    ItemUpdateEvent(updated_item) {
      this.$emit("UpdateFormListener", updated_item);
      this.showEditDeskForm = false;
    }
  }
};
</script>

<style>
</style>  