<template>
  <div class="table-filter my-2 mb-4">
    <label for>
      Masa Adına Göre Sınırlama
      <i class="fas fa-filter"></i>
    </label>
    <input
      type="text"
      v-model="filterText"
      class="form-control"
      @keyup="$emit('filterListener', filterText)"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterText: ""
    };
  }
};
</script>