<template>
  <transition name="fade">
    <div class="edit-desk">
      <div class="row">
        <div class="col-12">
          <i>{{item.DeskTitle}} Adlı Formu Düzenleme</i>
        </div>
        <div class="col-6">
          <label for>Masa Adı</label>
          <input type="text" v-model="desk_title" class="form-control" />
        </div>
        <div class="col-6">
          <label for>Masa Pozisyonu</label>
          <select v-model="desk_position" name id class="form-control">
            <option value disabled selected>Lütfen Seçiniz</option>
            <option value="0">İçeri</option>
            <option value="1">Dışarı</option>
            <option value="2">Bahçe</option>
          </select>
        </div>
        <div class="col-12">
          <button @click="updateListener" class="btn btn-primary btn-block my-2">Oluştur</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      desk_position: "",
      desk_title: ""
    };
  },
  created() {
    this.desk_position = this.$props.item.DeskPositionValue;
    this.desk_title = this.$props.item.DeskTitle;
  },
  methods: {
    updateListener() {
      this.$emit("ItemUpdateListener", {
        desk_position: this.desk_position,
        desk_title: this.desk_title,
        desk_is_open: this.$props.item.DeskIsOpen,
        id: this.$props.item.ID
      });
    }
  },
  props: ["item"]
};
</script>