<template>
  <tr>
    <td>{{item.ID}}</td>
    <td>{{item.DeskTitle}}</td>
    <td>{{item.DeskPosition}}</td>
    <td>
      <button @click="$emit('updateListener', item)" class="btn btn-sm btn-light">
        <i class="fas fa-edit"></i>
      </button>
      <button @click="$emit('trashListener', item)" class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i>
      </button>
    </td>
  </tr>
</template>


<script>
export default {
  props: ["item"]
};
</script>