<template>
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-6">Masa Konumu</div>
      <div class="col-6 text-right"><strong>{{selectedDesk.DeskPosition}}</strong></div>
      <div class="col-6">Masa Adı</div>
      <div class="col-6 text-right"><strong>{{selectedDesk.DeskTitle}}</strong></div>
    </div>
  </div>
</template>

<script>
export default {
  props : ['selectedDesk']
};
</script>

<style>
</style>
