<template>
  <div class="col-12">
    <label for>Masa Seçiniz</label>
    <select v-model="selected_index" @change="$emit('DeskSelectedListener', selected_index)" class="form-control">
      <option disabled selected value="-1">Lütfen bir masa seçiniz</option>
      <option v-for="deskItem in deskList" :value="deskItem.ID">{{deskItem.DeskTitle}}</option>
    </select>
  </div>
</template>

<script>
export default {
  data(){
    return {
      selected_index : -1
    }
  },
  props: ['deskList']
};
</script>

<style>
</style>
