<template>
  <tr>
    <td>{{reservationItem.ID}}</td>
    <td>{{reservationItem.CustomerName}}</td>
    <td>{{reservationItem.ReservationDate}} - {{reservationItem.ReservationTime}}</td>
    <td>{{reservationItem.IsComing === '1' ? 'Gelmedi' : 'Geldi'}}</td>
    <td>
      <button
        class="btn btn-sm btn-light"
        @click="$emit('approvedCustomer', reservationItem)"
        v-if="reservationItem.IsComing === '1'"
      >
        <i class="fas fa-check"></i>
      </button>
      <button class="btn btn-danger btn-sm" @click="$emit('trashReservation', reservationItem)">
        <i class="fas fa-trash"></i>
      </button>
      <button
        v-if="reservationItem.IsComing === '1'"
        @click="$emit('updateReservationListener', reservationItem)"
        to="/admin/reservation/edit-reservation/3"
        class="btn btn-primary btn-sm"
      >
        <i class="fas fa-edit"></i>
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["reservationItem"],
  created() {
    //console.log(this.reservationItem);
  },
  methods: {}
};
</script>