<template>
  <div class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Rezervasyon Var</h5>
    </div>
    <div class="my-2 p-2">
      <div class="row">
        <div class="col-6">Tarih:</div>
        <div class="col-6 text-right">{{ ritem.ReservationDate }}</div>
        <div class="col-6">Saat:</div>
        <div class="col-6 text-right">{{ ritem.ReservationTime }}</div>
        <div class="col-6">Müşteri:</div>
        <div class="col-6 text-right">{{ ritem.CustomerName }}n</div>
      </div>
      <hr class="bg-light" />
      <div class="row">
        <div class="col-6">
          <button class="btn btn-sm btn-light w-100">Sil</button>
        </div>
        <div class="col-6 text-center">
          <button class="btn btn-sm btn-dark w-100">Geldi</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["ritem"]
};
</script>
