<template>
  <div class="container">
    <div class="row">
      <HeaderText content="Rezervasyon Oluştur" icons="fas fa-address-book" />
      <div class="col-12">
        <ReservationForm />
      </div>
    </div>
  </div>
</template>

<script>
import HeaderText from "~/components/common/child_page_header";
import ReservationForm from "~/components/RandevuFormu";
export default {
  components: { HeaderText, ReservationForm }
};
</script>

<style>
</style>