<template>
  <form class="my-2">
    <label for>Adınız ve Soyadınız</label>
    <input required v-model="formInputs.customerFullname" type="text" class="form-control" />
    <div class="row">
      <div class="col-6">
        <label for>Randevu Tarihi</label>
        <input
          required
          type="date"
          :min="dateMin"
          v-model="formInputs.reservationDate"
          class="form-control"
        />
      </div>
      <div class="col-6">
        <label for>Randevu Saati</label>
        <input required type="time" v-model="formInputs.reservationTime" class="form-control" />
      </div>
    </div>
    <label for>Randevu Notu</label>
    <br />
    <small class="text-muted">Eğer var ise bir randevu notu ekleyin!</small>
    <textarea
      v-model="formInputs.reservationNote"
      class="form-control"
      row="3"
      cols="10"
      @click="formInputs.reservationNote = ''"
    ></textarea>
    <button
      type="submit"
      class="btn btn-primary btn-block my-2"
      @click.prevent="randevuAlindi"
    >Randevuyu Al</button>
  </form>
</template>

<script>
import swal from "sweetalert2";
var moment = require("moment");
export default {
  data() {
    return {
      formInputs: {
        customerFullname: "",
        reservationDate: "",
        reservationTime: "",
        reservationNote: "Herhangi bir Not"
      },
      dateMin: null
    };
  },
  created() {
    var date = new Date();
    this.formInputs.reservationTime = date.getHours() + ":" + date.getMinutes();

    var d = new Date();
    var month = d.getMonth();
    var month_actual = month + 1;

    if (month_actual < 10) {
      month_actual = "0" + month_actual;
    }

    var day_val = d.getDate();
    if (day_val < 10) {
      day_val = "0" + day_val;
    }

    this.formInputs.reservationDate =
      d.getFullYear() + "-" + month_actual + "-" + day_val;
    this.dateMin = d.getFullYear() + "-" + month_actual + "-" + day_val;
  },
  methods: {
    randevuAlindi() {
      var vm = this;

      if (
        vm.formInputs.customerFullname != "" &&
        vm.formInputs.reservationDate != "" &&
        vm.formInputs.reservationTime != ""
      ) {
        this.$emit("createReservation", this.formInputs);
      } else {
        swal.fire({
          icon: "error",
          title: "Hata var!",
          text: "Boş bir alan bırakmayın",
          confirmButtonText: "Pekala!"
        });
      }
    }
  }
};
</script>
