<template>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 shadow-lg my-4 p-2">
        <h3 class="text-center">Randevu Al</h3>
        <hr />
        <!-- Randevu Formu -->
        <randevu-formu @createReservation="createReservation($event)" />
        <!-- Randevu Formu -->
        <div class="row">
          <div class="col-12 text-center">
            <small class="text-muted">veya</small>
          </div>
        </div>
        <nuxt-link to="/admin" class="btn btn-block btn-secondary my-2">Giriş Yap</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import RandevuFormu from "~/components/RandevuFormu";
import swal from "sweetalert2";
export default {
  components: {
    RandevuFormu
  },
  methods: {
    createReservation(item) {
      //console.log(item);
      this.$store
        .dispatch("createReservationItem", item)
        .then(resp => {
          console.log(resp);
          if (resp.status == true) {
            swal.fire({
              icon: "success",
              title: "İşlem Başarılı!",
              text: resp.message
            });
          } else {
            swal.fire({
              icon: "error",
              title: "Bir Hata Olabilir!",
              text: resp.message
            });
          }

          this.showCreateReservationForm = false;
        })
        .catch(err => {
          alert("hata var");
          console.log(err);
        });
    }
  }
};
</script>
