<template>
  <div class="container my-4">
    <div class="row">
      <!-- Header -->
      <div class="col-1 ml-0 pl-0">
        <nuxt-link class="btn btn-danger btn-sm" to="/admin/panel">
          <i class="fas fa-arrow-left"></i>
        </nuxt-link>
      </div>
      <div class="col-10 mr-0 pr-0">
        <h4>#{{this.currentAdditionID}} Numaralı Masaya İşlem Ekleme</h4>
      </div>
      <!-- Header -->

      <div class="col-12">
        <hr />
      </div>

      <!-- Content -->
      <div class="col-12 shadow">
        <CreateAdditionMovement @RealizeOrderListener="realizeOrder($event)" />
      </div>
      <!-- Content -->
    </div>
  </div>
</template>


<script>
import CreateAdditionMovement from "@/components/admin/Addition/CreateAdditionMovement";
import swal from "sweetalert2";
export default {
  components: { CreateAdditionMovement },
  data() {
    return {
      currentAdditionID: 0
    };
  },
  created() {
    this.currentAdditionID = this.$route.params.addition_id;
  },
  methods: {
    realizeOrder(order_product) {
      console.log(order_product); // HAREKET DEĞERLERİ
      let additionMovementData = {
        ProductID: order_product.ProductID,
        ProductCount: order_product.orderCount,
        AdditionID: this.currentAdditionID
      };

      this.$store
        .dispatch("createAdditionMovement", additionMovementData)
        .then(result => {
          swal.fire(
            "Başarılı",
            "İstediğiniz ürün, belirtilen hesaba başarıyla eklendi!",
            "success"
          );
          // console.log(result);
        })
        .catch(err => {
          swal.fire("Bir Hata Var!", "Hata Sebebi: " + err, "error");
          console.log(err);
        });

      // HAREKETİ EKLE
    }
  }
};
</script>