<template>
  <div class="container">
    <div class="row">
      <ChildPageHeader :content="'#' + currentAdditionID + ' - Aktif Adisyon Durumu'" />
      <!-- Content -->
      <div class="col-12 my-2 shadow p-2">
        <!-- Adisyon Bilgileri -->
        <h5>Adisyon Bilgileri</h5>
        <hr />
        <div class="row">
          <div class="col-6">Adisyon Numarası</div>
          <div class="col-6 text-right">#{{ this.currentAdditionInfo.AdditionID }}</div>
          <div class="col-6">İşlem Sayısı</div>
          <div class="col-6 text-right">{{ this.currentAdditionInfo.AdditionMovementCount }} Adet</div>
          <div class="col-6">Toplam Tutar</div>
          <div class="col-6 text-right">{{ this.currentAdditionInfo.TotalPrice }} ₺</div>
          <div class="col-6">Masa Bilgisi</div>
          <div class="col-6 text-right">{{ this.currentAdditionInfo.DeskTitle }}</div>
          <div class="col-6">Ödeme Durumu</div>
          <div class="col-6 text-right">{{ this.currentAdditionInfo.PayStatus }}</div>
        </div>
        <!-- Adisyon Biglileri -->
        <h5>Bu Adisyona Ait Mevcut İşlemler</h5>
        <hr />
        <table class="table table-dark">
          <thead>
            <tr>
              <th>#</th>
              <th>İşlem Tutarı</th>
              <th>İşlem Adeti</th>
              <th>İşlem Açıklaması</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="movement_item in movementList" :key="movement_item.AdditionMovementID">
              <td>{{ movement_item.AdditionMovementID }}</td>
              <td>{{ movement_item.Price }} ₺</td>
              <td>{{ movement_item.ProductCount }} adet</td>
              <td>{{ movement_item.DescText }}</td>
            </tr>
          </tbody>
        </table>

        <!-- İşlemler -->
        <b-card no-body>
          <b-tabs card>
            <b-tab title="Hesabı Kapat" v-if="payStatus == 0">
              <AccountDispose
                @PaymentListener="PaymentEvent($event)"
                :accountDetail="currentAdditionInfo"
              />
            </b-tab>
            <b-tab title="Hesap Özeti" v-else>
              <AccountSummary :payInfo="payInfo" v-if="payInfo.ID > 0" />
              <div class="container" v-else>
                <div class="row">
                  <div class="col-12">
                    <strong> Herhangi bir ödeme detayına rastlanmadı! </strong>
                    <br>
                    <i> Sayfayı yenilemeyi deneyin </i>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="İşlem Oluştur" v-if="payStatus == 0">
              <CreateAdditionMovement @RealizeOrderListener="realizeOrder($event)" />
            </b-tab>
          </b-tabs>
        </b-card>
        <!-- İşlemler -->
      </div>
      <!-- Content -->
    </div>
  </div>
</template>

<script>
import AccountDispose from "@/components/admin/Addition/ShowAdditionMovement/AccountDispose";
import AccountSummary from "@/components/admin/Addition/ShowAdditionMovement/AccountSummary";
import ChildPageHeader from "@/components/common/child_page_header";
import CreateAdditionMovement from "@/components/admin/Addition/CreateAdditionMovement";
import Swal from "sweetalert2";

export default {
  components: {
    AccountDispose,
    ChildPageHeader,
    CreateAdditionMovement,
    AccountSummary
  },
  data() {
    return {
      currentAdditionID: 0,
      movementList: [],
      currentAdditionInfo: {},
      payStatus: 0,
      payInfo : {}
    };
  },
  created() {
    this.currentAdditionID = this.$route.params.addition_id;
    this.$store
      .dispatch("additionMovementList", this.currentAdditionID)
      .then(() => {
        // console.log(this.$store.getters.getAdditionMovementList);
        this.movementList = this.$store.getters.getAdditionMovementList;

        this.currentAdditionInfo = this.$store.getters.getAdditionList.filter(
          item => item.AdditionID == this.currentAdditionID
        );
        this.currentAdditionInfo = this.currentAdditionInfo[0];
        console.log(this.currentAdditionInfo);
        //alert(this.currentAdditionInfo.PayStatusValue);
        this.payStatus = (this.currentAdditionInfo.PayStatusValue);

        if(this.payStatus === "1")
        {
          /*
          this.$store
            .dispatch("getPaymentData", paymentData)
            .then(result => {
              this.payInfo = result; // Returned payment info
              this.payStatus = 1;
              this.currentAdditionInfo.PayStatusValue = 1;
              this.currentAdditionInfo.PayStatus = "Ödeme Yapıldı";
            }) */


            this.$store.dispatch('getPaymentData', this.currentAdditionID)
            .then((result) => {
              this.payInfo = result;
              console.log(this.payInfo);
            })
            .catch(err => {
              Swal.fire('Bir Hata Var', err, "error");
            });


        }

      })
      .catch(err => {
        alert("hata var");
        console.log(err);
      });

  },
  methods: {
    realizeOrder(order_product) {
      console.log(order_product); // HAREKET DEĞERLERİ
      let additionMovementData = {
        ProductID: order_product.ProductID,
        ProductCount: order_product.orderCount,
        AdditionID: this.currentAdditionID
      };

      this.$store
        .dispatch("createAdditionMovement", additionMovementData)
        .then(result => {
          // alert("Başarıyla Eklendi!");
          // SWAL KULLAN
          this.currentAdditionInfo = result.currentAddition;
          this.payStatus = this.currentAdditionInfo.PayStatusValue;

          Swal.fire(
            "Başarılı",
            'İstediğin Ürün Başarılya eklendi <i class="fas fa-check"></i>',
            "success"
          );
          //console.log(result);
        })
        .catch(err => {
          alert("Bir Hata Var!");
          console.log(err);
        });

      // HAREKETİ EKLE
    },
    PaymentEvent(payment_value) {
      let paymentData = {
        ...payment_value,
        AdditionID: this.currentAdditionID,
        TotalPrice : this.currentAdditionInfo.TotalPrice,
        DeskID: this.currentAdditionInfo.DeskID
      };

      this.$store
        .dispatch("paymentForAddition", paymentData)
        .then(result => {
          Swal.fire(
            "Ödeme Başarılı",
            "Ödeme İşleminiz Başarıyla Tamamlanmıştır!",
            "success"
          );
          this.payInfo = result; // Returned payment info
          this.payStatus = 1;
          this.currentAdditionInfo.PayStatusValue = 1;
          this.currentAdditionInfo.PayStatus = "Ödeme Yapıldı";
        })
        .catch(err => {
          Swal.fire('Ödeme Başarısız', "Hata Sebebi: " + err, "error");
        });
    }
  }
};
</script>
