<template>
  <div class="col-12 my-2">
    <div class="row">
      <div class="col-1">
        <a class="btn btn-danger btn-sm" :href="redirectTo">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-11">
        <h4>
          {{content}}
          <i :class="icons" v-show="icons.length > 0"></i>
        </h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: { required: true },
    icons: {
      required: false,
      default: "",
      type: String
    },
    redirectTo: {
      required: false,
      default: "/admin/panel",
      type: String
    }
  }
};
</script>
