<template>
  <div class="col-12">
    <h5>Yönlendirmeler</h5>
    <div class="list-group">
      <nuxt-link
        class="list-group-item bg-danger active text-white list-group-item-action"
        to="/admin/desk/"
      >
        Masalar
        <i class="fas fa-table"></i>
      </nuxt-link>
      <nuxt-link
        to="/admin/product"
        class="list-group-item bg-danger active text-white list-group-item-action"
        href="#"
      >
        Ürünler
        <i class="fas fa-cloud"></i>
      </nuxt-link>
      <nuxt-link
        to="/admin/addition"
        class="list-group-item bg-danger active text-white list-group-item-action"
        href="#"
      >
        Adisyonlar
        <i class="fas fa-poll-h"></i>
      </nuxt-link>
      <nuxt-link
        class="list-group-item bg-danger active text-white list-group-item-action"
        to="/admin/reservation/create-reservation"
      >
        Rezervasyon Oluştur
        <i class="fas fa-address-book"></i>
      </nuxt-link>
      <nuxt-link
        to="/admin/payment"
        class="list-group-item bg-danger active text-white list-group-item-action"
      >
        Ödemeler
        <i class="fas fa-cash-register"></i>
      </nuxt-link>
      <nuxt-link
        to="/admin/reservation"
        class="list-group-item bg-danger active text-white list-group-item-action"
      >
        Rezervasyonlar
        <i class="fas fa-newspaper"></i>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>