<template>
    <section class="row">
      <div class="col-6 text-left">{{left_text}}</div>
      <div class="col-6 text-right">{{right_text}}</div>
    </section>

</template>


<script>
  export default {
    props : ['left_text', 'right_text']
  }
</script>
