<template>
  <div class="container-fluid">
    <div class="row">
      <HeaderText content="Ödeme İşlemleri" icons="fas fa-cash-register" />
      <PaymentList :paymentList="paymentList"  class="col-9"/>
      <PaymentFilter class="col-3"
      @FilterListener="FilterEvent($event)"
      @RemoveFilterListener="RemoveFilterEvent()"
      :lastAdditionID="lastAdditionID"/>
    </div>
  </div>
</template>

<script>
import HeaderText from "~/components/common/child_page_header";
import PaymentList from "~/components/admin/Payment/PaymentList";
import PaymentFilter from "~/components/admin/Payment/PaymentFilter";
export default {
  components: { HeaderText, PaymentList, PaymentFilter},
  data(){
    return {
      paymentList: [],
      lastAdditionID : 0
    }
  },
  created(){
    this.$store.dispatch('paymentList').then(() => {
      this.paymentList = this.$store.getters.getPaymentList;
      this.lastAdditionID = this.paymentList[0].AdditionID;
    });
  },
  methods : {
    FilterEvent(filter_params)
    {
      this.paymentList = this.$store.getters.getPaymentList;
      let filteredList = this.paymentList;
      if(
        typeof(filter_params.started_date) !== "undefined"
        &&
        typeof(filter_params.finished_date) !== "undefined"
      )
      {
        filteredList = filteredList.filter((item) => {
          var pDate = new Date(item.PaymentDate).getTime();
          return pDate >= filter_params.started_date.getTime() && pDate <= filter_params.finished_date.getTime()
        });
      }
      else if(typeof(filter_params.started_date) !== "undefined")
      {
        filteredList = filteredList.filter(item => new Date(item.PaymentDate).getTime() >= filter_params.started_date.getTime());
      }

      if(
        filter_params.multipleAddition === true
        &&
        (typeof(filter_params.started_id) !== "undefined" && typeof(filter_params.finished_id) !== "undefined")
      )
      {
        filteredList = filteredList.filter(item =>
          parseInt(item.AdditionID) >= parseInt(filter_params.started_id) && parseInt(item.AdditionID) <= parseInt(filter_params.finished_id)
        );
      }
      else {
        if(typeof(filter_params.addition_id) != "undefined" && filter_params.addition_id > 0)
        {
          filteredList = filteredList.filter(item =>
            parseInt(item.AdditionID) == parseInt(filter_params.addition_id)
          );
        }
      }


      if(typeof(filter_params.paymentType) !== "undefined")
      {
        filteredList = filteredList.filter(item =>
          parseInt(item.PaymentType) == parseInt(filter_params.paymentType)
        );
      }

      this.paymentList = filteredList;
      //console.log(filter_params);
    },
    RemoveFilterEvent(){
      this.paymentList = this.$store.getters.getPaymentList;
    }
  }
};
</script>

<style>
</style>
