<template>
  <div class="container">
    <div class="row">
      <HeaderText content="3 Numaralı Rezervasyonun Düzenlenmesi" />
      <div class="col-12">
        <hr />
      </div>

      <div class="col-12 shadow p-2">
        <div class="row">
          <div class="col-6">
            <h5>Rezevasyon Bilgileri</h5>
            <hr />
            <div class="row">
              <div class="col-6">Müşteri Adı ve Soyadı</div>
              <div class="col-6 text-right">{{updatedItem.CustomerName}}</div>
              <div class="col-6">Rezervasyon Tarih ve Saati</div>
              <div
                class="col-6 text-right"
              >{{updatedItem.ReservationDate}} - {{updatedItem.ReservationTime}}</div>
              <div class="col-6">Randevu Durumu</div>
              <div class="col-6 text-right">{{updatedItem.IsComing == 0 ? "Geldi" : "Gelmedi"}}</div>
            </div>
          </div>
          <div class="col-6">
            <h5>Güncelleme Formu</h5>
            <hr />
            <label for>Müşteri Adı ve Soyadı</label>
            <input type="text" v-model="updatedItem.CustomerName" class="form-control" />
            <label for>Rezevasyon Tarihi</label>
            <input type="date" class="form-control" v-model="updatedItem.ReservationDate" />
            <label for>Rezevasyon Saati</label>
            <input type="time" class="form-control" v-model="updatedItem.ReservationTime" />
            <button @click="updateform" class="btn btn-block btn-primary my-2">Bilgileri Güncelle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderText from "@/components/common/child_page_header";
export default {
  components: {
    HeaderText
  },
  data() {
    return {
      update_form_data: {
        ID: 0
      }
    };
  },
  asyncData(context) {
    return {
      updatedItem: context.store.getters.getUpdatedItem
    };
  },
  created() {
    if (this.updatedItem.ID > 0) {
      this.update_form_data = this.updatedItem;
      console.log(this.updatedItem);
    } else {
      this.$router.push("/admin/reservation/");
    }
  },
  methods: {
    updateform() {
      this.$store
        .dispatch("updateReservationInfo", this.updatedItem)
        .then(resp => {
          this.$router.push("/admin/reservation");
        })
        .catch(er => {
          alert(er);
        }); // Promise olarak geriye dönecek, başarılı ise rezervasyonlar sayfasına yönlendir!
    }
  }
};
</script>

<style>
</style>