<template>
  <div class="container">
    <div class="row">
      <ChildPageHeader content="Masalar" icons="fas fa-table" />
      <!-- Masa Oluşturma -->
      <CreateDesk @CreateDeskListener="createDeskEvent($event)" />
      <!-- Masa Oluşturma -->

      <div class="col-12 my-2">
        <hr />
      </div>
      <!-- Masa Listesi -->
      <DeskListTable
        :deskList="filteredList"
        @UpdateFormListener="update_desk_item($event)"
        @ListFilterListener="filter_value = $event"
        @TrashItemListener="delete_desk_item($event)"
      />
      <!-- Masa Listesi -->
    </div>
  </div>
</template>

<script>
import ChildPageHeader from "@/components/common/child_page_header";
import CreateDesk from "@/components/admin/Desks/CreateDesk";
import DeskListTable from "@/components/admin/Desks/DeskListTable";
import swal from "sweetalert2";
export default {
  components: { CreateDesk, ChildPageHeader, DeskListTable },
  data() {
    return {
      filter_value: ""
    };
  },
  methods: {
    createDeskEvent(desk_item) {
      this.$store
        .dispatch("createDeskItem", desk_item)
        .then(resp => {
          swal.fire({
            icon: "success",
            title: "Başarılı!",
            text: resp
          });
        })
        .catch(err => {
          swal.fire({
            icon: "error",
            title: "Bir Hata var!",
            text: err
          });
        });
    },
    update_desk_item(item) {
      this.$store
        .dispatch("updateDeskItem", item)
        .then(resp => {
          swal.fire({
            title: "Güncelleme işlemi başarılı",
            text: resp.result_message,
            icon: "success"
          });
        })
        .catch(err => {
          swal.fire({
            title: "Hatalı bir işlem!",
            text: err,
            icon: "error"
          });
        });
    },
    delete_desk_item(item) {
      this.$store
        .dispatch("trashDeskItem", item)
        .then(resp => {
          swal.fire({
            icon: "success",
            text: resp,
            title: "Silme İşlemi Başarılı!"
          });
        })
        .catch(err => {
          swal.fire({
            icon: "error",
            text: err,
            title: "Bir Sorun Var Ama Dur Bakalım!"
          });
        });
    }
  },

  computed: {
    filteredList() {
      return this.deskList.filter(item => {
        return item.DeskTitle.toLowerCase().startsWith(
          this.filter_value.toLowerCase()
        );
      });
    }
  },
  asyncData(context) {
    return {
      deskList: context.store.getters.getDeskList
    };
  }
};
</script>

<style>
</style>