<template>
  <div class="container">
    <div class="row">
      <HeaderText content="Ürünler" icons="fas fa-cloud" />

      <!-- Ürün Oluşturma -->
      <CreateProduct @CreateProductListener="CreateProductEvent($event)" :queryProductName="qProductName"/>
      <!-- Ürün Oluşturma -->

      <!-- Ürün Listesi -->
      <ProductList :productList="productList" @TrashProductListener="TrashProductEvent($event)" />
      <!-- Ürün Listesi -->
    </div>
  </div>
</template>

<script>
import HeaderText from "@/components/common/child_page_header";
import CreateProduct from "@/components/admin/Product/CreateProduct";
import ProductList from "@/components/admin/Product/ProductList";
import swal from "sweetalert2";
export default {
  components: { HeaderText, CreateProduct, ProductList },
  asyncData(context) {
    return {
      productList: context.store.getters.getProductList,
      qProductName : context.route.query.productname
    };
  },
  created(){
  },
  methods: {
    CreateProductEvent(create_product_item) {
      // console.log(create_product_item);
      this.$store
        .dispatch("createProductItem", create_product_item)
        .then(resp => {
          swal.fire(
            "Başarılı",
            create_product_item.product_title +
              " Adlı Ürün Başarıyla Oluşturuldu",
            "success"
          );
        })
        .catch(err => {
          swal.fire("Bir Hata Var Dur Bakalım", err.error_message, "error");
        });
    },
    TrashProductEvent(product_item) {
      this.$store
        .dispatch("removeProductItem", product_item)
        .then(resp => {
          swal.fire("Başarılı", "Ürün Başarıyla Silindi", "success");
        })
        .catch(err => {
          swal.fire(":( Bir sorun var ama çözeriz", err, "error");
        });
      // console.log(product_item);
    }
  }
};
</script>

<style>
</style>
