<template>
  <div class="col-12 p-2 shadow mt-4">
    <h5>Adisyon Listesi</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Masa Adı</th>
            <th>Masa Pozisyonu</th>
            <th>Masa Ücret Toplamı</th>
            <th>Masa İşlem Sayısı</th>
            <th>
              <i class="fas fa-cog"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <ActiveDeskListItem class="text-center" v-for="additionItem in additionList" :AdditionItem="additionItem" v-bind:key="additionItem.AdditionID" v-if="additionList.length > 0"/>
          <tr class="bg-info text-white" v-if="additionList.length < 1">
            <td colspan="12" class="text-center">Buralar Çok Issız... <strong>
              (Herhangi bir veri bulunamadı)
            </strong> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import ActiveDeskListItem from "../Desks/active_desk_list_item";
export default {
  components: { ActiveDeskListItem },
  props:['additionList']
};
</script>

<style>
</style>
