<template>
  <div class="col-12 p-2 shadow">
    <h5>Filtreleme</h5>
    <div class="row">
      <div class="col-4">
        <label for>Adisyon Durumu</label>
        <select v-model="additionStateValue" class="form-control">
          <option disabled selected value="-1">Lütfen Bir Durum Seçiniz</option>
          <option value="0"> Kapalı </option>
          <option value="1"> Açık </option>
        </select>
      </div>

      <div class="col-4">
        <label for>Masaya Seçimi</label>
        <select class="form-control" v-model="deskValue">
          <option value="-1" selected disabled> Lütfen Bir Masa Seçin</option>
          <option v-for="deskItem in deskList" :value="deskItem.ID">{{deskItem.DeskTitle}}</option>
        </select>
      </div>


      <div class="col-2" >
        <label>&nbsp;</label>
        <button
          v-if="deskValue > -1 || additionStateValue > -1"
          @click="$emit('FilterListener', {desk : deskValue, stateValue  : additionStateValue}); filterStatus = true;" class="btn btn-block btn-success"> Filtrele <i class="fas fa-search"></i> </button>
      </div>


      <div class="col-2" v-show="filterStatus === true">
        <label for="">&nbsp;</label>
        <button @click="$emit('FilterRemove'); filterStatus = false; deskValue = -1; additionStateValue = -1;" class="btn btn-block btn-danger"> Tüm Liste <i class="fas fa-list"></i></button>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      deskValue : -1,
      additionStateValue : -1,
      filterStatus : false
    }
  },
  props : ['deskList']
};
</script>

<style>
</style>
