<template>
  <div class="row">
    <div class="col-12">
      <label for>
        Ürün Adını Giriniz
        <a class="text-danger" @click.prevent="clearToSelectedProduct">
          <strong v-if="selected_product_item.ProductID >0">
            Başka bir ürün seç
            <i class="fas fa-ban" />
          </strong>
        </a>
      </label>
      <input
        v-on:keyup="((searchProductName.length > 0) ? showProductList = true : showProductList = false)"
        v-model="searchProductName"
        type="text"
        ref="productText"
        class="my-2 form-control"
      />
    </div>
    <div class="col-12">
      <transition name="fade">
        <SearchProductList
          v-show="showProductList"
          :search_text="searchProductName"
          @SelectedProductListener="SelectedProductEvent($event)"
        />
      </transition>
    </div>
    <div class="col-6" v-if="selected_product_item.ProductID > 0">
      <label for>Adet</label>
      <input
        v-model="orderCount"
        min="1"
        type="number"
        @keypress.prevent
        class="form-control my-2"
      />
    </div>
    <div class="col-6 text-rigth" v-if="selected_product_item.ProductID > 0">
      <label for>Sonuç</label>
      <input type="text" readonly v-model="resultText" class="my-2 form-control" />
    </div>

    <div class="col-3 offset-9" v-if="addApprovedButton">
      <button v-if="selected_product_item.ProductID > 0" type="button" @click="getSelectedProductItem" class="btn-block btn btn-info">
        Ürünü Seç <i class="fas fa-check"></i>
      </button>
    </div>

    <div v-if="selected_product_item.ProductID > 0" class="col-12 my-2">
      <button
        @click="orderApproved"
        v-show="showAddButton"
        class="btn btn-block btn-primary"
      >Siparişi Gerçekleştir</button>
    </div>
  </div>
</template>

<script>
import SearchProductList from "@/components/admin/Addition/SearchProductList";
import swal from "sweetalert2";
export default {
  components: { SearchProductList },
  data() {
    return {
      searchProductName: "",
      showProductList: false,
      selected_product_item: {},
      orderCount: 1
    };
  },
  methods: {
    SelectedProductEvent(product_item) {
      // alert(product_item.Title + " Adlı Ürün Seçildi!");
      // console.log(product_item);
      this.selected_product_item = product_item;
      this.showProductList = false;
      this.searchProductName = product_item.Title;
      this.$refs["productText"].disabled = true;
    },
    clearToSelectedProduct() {
      this.selected_product_item = {};
      this.searchProductName = "";
      this.$refs["productText"].disabled = false;
    },
    orderApproved() {
      let payload = {
        ...this.selected_product_item,
        orderCount: this.orderCount
      };
      this.$emit("RealizeOrderListener", payload);
      this.selected_product_item = {};
      this.searchProductName = "";
      this.$refs["productText"].disabled = false;
    },
    getSelectedProductItem(){
      let payload = {
        ...this.selected_product_item,
        orderCount: this.orderCount
      };
      this.$emit("GetProductListener", payload);
    }
  },
  computed: {
    resultText: function() {
      return (
        this.orderCount +
        " Adet " +
        this.selected_product_item.Title +
        " Adlı üründen, toplam " +
        this.orderCount * this.selected_product_item.Sale +
        " ₺ Tuttu"
      );
    }
  },
  props: {
    showAddButton: {
      default: true
    },
    addApprovedButton:{
      default:false
    }
  }
};
</script>

<style>
</style>
