<template>
  <div
    class="col-12 bg-danger text-white py-4 my-2 shadow"
    @click="$emit('SelectProductListener', productItem)"
  >
    <div class="row">
      <div class="col-12">
        <h5>{{productItem.Title}}</h5>
        <hr class="bg-white" />
      </div>
      <div class="col-6">Ürün Tipi</div>
      <div class="col-6 text-right">{{productItem.ProductType}}</div>
      <div class="col-6">Alış Fiyatı</div>
      <div class="col-6 text-right">{{productItem.Purchase}}₺</div>
      <div class="col-6">Satış Fiyatı</div>
      <div class="col-6 text-right">{{productItem.Sale}} ₺</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["productItem"]
};
</script>