<template>
  <div class="col-12 p-0">
    <strong>
      Ürün Listesi
      <i class="fas fa-sort"></i>
    </strong>
    <SearchProductListItem
      @SelectProductListener="$emit('SelectedProductListener', $event)"
      class="hovered_hand"
      v-if="productList.length > 0"
      v-for="product_item in productList"
      :key="product_item.ProductID"
      :productItem="product_item"
    />
    <div class="alert alert-danger" v-show="productList.length === 0">
      <strong> Böyle Bir Ürün Bulunamadı, Bu isim ile yeni bir ürün oluşturmak ister misin? </strong>
      <div class="row">
        <div class="col-9 text-left">
          <i>Oluştur butonuna basarsanız, sizi bu ürün adıyla birlikte bir ürün oluşturma sayfasına yönlendirir!</i>
        </div>
        <div class="col-3 text-right">
          <button class="btn btn-info btn-sm" @click="nothingProduct"> Oluştur <i class="fas fa-plus-circle"></i> </button>
        </div>
      </div>
    </div>

  </div>
</template>

<style scoped>
.hovered_hand:hover {
  cursor: pointer;
}
</style>

<script>
import SearchProductListItem from "./SearchProductListItem";
export default {
  components: { SearchProductListItem },
  props: ["search_text"],
  computed: {
    productList: function() {
      // values = values.toLowerCase();
      return this.$store.getters.getProductList.filter(item =>
        item.Title.toLowerCase()
          .trim()
          .includes(this.$props.search_text.toLowerCase().trim())
      );
    }
  },
  methods : {
    nothingProduct(){
      this.$router.push('/admin/product/?productname=' + this.search_text);
    }
  }
};
</script>
