<template>
  <div class="row">
    <div class="col-6">
      <h3>Ürün Bilgileri</h3>
      <hr>
      <RowText left_text="Ürün Adı" :right_text="product.Title" />
      <RowText left_text="Ürün Tipi" :right_text="product.ProductType" />
      <RowText left_text="Satış Fiyatı" :right_text="product.Sale + '₺'" />
    </div>
    <div class="col-6 text-right">
      <h3>Fiyatlandırma</h3>
      <hr>
      <RowText left_text="Adet" :right_text="product.orderCount + ' Adet'" />
      <RowText left_text="Satış Fiyatı" :right_text="product.Sale + '₺'" />
      <RowText left_text="Toplam Tutar" :right_text="product.Sale * product.orderCount + '₺'" />
    </div>
  </div>
</template>


<script>
  import RowText from "@/components/common/RowText"
  export default {
    components : {RowText},
    props :['product']
  }
</script>
