<template>
  <div class="container">
    <div class="row">
      <div class="col-12 p-2 bg-success text-white rounded-0">
        <h4>Ödeme Bilgileri</h4>
        <hr style="background-color:red;" />
      </div>
      <div class="col-12 p-2 alert bg-success text-white rounded-0">
        <div class="row">
          <div class="col-6 text-left">Ödeme ID</div>
          <div class="col-6 text-right">#{{payInfo.ID}}</div>
          <div class="col-6 text-left">Ödeme Türü</div>
          <div class="col-6 text-right">{{paymentType}}</div>
          <div class="col-6 text-left">Ödenen Miktar</div>
          <div class="col-6 text-right">{{payInfo.TotalPrice}} ₺</div>
          <div class="col-6 text-left">Kart Tutarı</div>
          <div class="col-6 text-right">{{payInfo.CartPrice}} ₺</div>
          <div class="col-6 text-left">Nakit Tutarı</div>
          <div class="col-6 text-right">{{payInfo.CashPrice}} ₺</div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  export default {
    props : ['payInfo'],
    computed : {
      paymentType(){

        if(this.payInfo.PaymentType == 0 || this.payInfo.PaymentType == "0")
          return "Kart";
        else if(this.payInfo.PaymentType == 1 || this.payInfo.PaymentType == "1")
          return "Nakit"
        else
          return "Kart + Nakit";


        return "";

      }
    }
  }
</script>
