<template>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h5>Bilgilendirme</h5>
        <hr />
        Ödenecek tutar; {{accountDetail.TotalPrice}}₺'dir
        <br />Ödeme Yöntemleri;
        <ul class="list-group">
          <li class="list-group-item">Kart</li>
          <li class="list-group-item">Nakit</li>
          <li class="list-group-item">Kart + Nakit</li>
        </ul>
      </div>
      <div class="col-6">
        <h5>Ödeme Formu</h5>
        <hr />
        <label for>Ödeme Yöntemini Seçiniz</label>
        <select v-model="paymentType" class="form-control">
          <option value="-1" selected disabled>Seçiniz</option>
          <option value="0">Kart</option>
          <option value="1">Nakit</option>
          <option value="2">Kart + Nakit</option>
        </select>

        <div v-show="paymentType == 2" class="border my-2 p-2">
          <label for>Kart Tutarı</label>
          <input
            type="number"
            min="0"
            step="0.1"
            v-model="cartPrice"
            @keypress="cashPrice = accountDetail.TotalPrice - cartPrice"
            class="form-control"
          />
          <label for>Nakit Tutarı</label>
          <input
            type="number"
            min="0"
            step="0.1"
            v-model="cashPrice"
            @keypress="cartPrice = accountDetail.TotalPrice - cashPrice"
            class="form-control"
          />
        </div>

        <button
          @click="paymentListener"
          v-show="paymentType != -1"
          class="btn btn-primary btn-block mt-2"
        >Ödemeyi Onayla</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      paymentType: -1,
      cashPrice: 0,
      cartPrice: 0
    };
  },
  props: ["accountDetail"],
  created() {
    this.cashPrice = (parseFloat(this.accountDetail.TotalPrice) / 2).toFixed(2);
    this.cartPrice = (parseFloat(this.accountDetail.TotalPrice) / 2).toFixed(2);
  },
  methods: {
    paymentListener() {
      if (this.paymentType > -1) {
        switch (this.paymentType) {
          case "0":
            this.cartPrice = this.accountDetail.TotalPrice;
            this.cashPrice = 0;
            break;
          case "1":
            this.cashPrice = this.accountDetail.TotalPrice;
            this.cartPrice = 0;
            break;
        }

        this.$emit("PaymentListener", {
          CashPrice: this.cashPrice,
          CartPrice: this.cartPrice,
          PaymentType: this.paymentType
        });
      }
      else{
        alert("Geçerli bir ödeme yöntemi seçiniz");
      }
    }
  }
};
</script>

<style>
</style>
