<template>
  <div class="container">
    <div class="row">
      <HeaderText
        redirectTo="/admin/product"
        content="XXXX Adlı ürünün Düzenlenmesi"
        icons="fas fa-edit"
      />
      <!-- Düzenleme Formu -->

      <div class="col-12">
        <label for>Ürün Adı</label>
        <input type="text" v-model="update_product_data.Title" class="form-control" />
        <label for>Ürün Tipi</label>
        <select type="text" v-model="update_product_data.Type" class="form-control">
          <option value="-1" disabled selected>Lütfen Bir Ürün Tipi Seçiniz</option>
          <option value="0">Yiyecek</option>
          <option value="1">İçecek</option>
        </select>
        <label for>Alış Fiyatı</label>
        <input type="text" class="form-control" v-model="update_product_data.Purchase" />

        <label for>Satış Fiyatı</label>
        <input type="text" class="form-control" v-model="update_product_data.Sale" />
        <div
          class="col-12 mt-2 alert alert-info"
          v-if="update_product_data.Sale - update_product_data.Purchase > 0"
        >
          <div class="row">
            <div class="col-6 text-left">Satış Fiyatı</div>
            <div class="col-6 text-right">{{update_product_data.Sale}} ₺</div>
            <div class="col-6 text-left">Alış Fiyatı</div>
            <div class="col-6 text-right">{{update_product_data.Purchase}} ₺</div>
            <div class="col-12">
              <hr />
            </div>
            <div class="col-6 text-left">Fiyat Farkı</div>
            <div
              class="col-6 text-right"
            >{{(update_product_data.Sale - update_product_data.Purchase).toFixed(2)}} ₺</div>
          </div>
        </div>
        <button class="my-2 btn btn-primary btn-block" @click="updateProduct">Güncelle</button>
      </div>
      <!-- Düzenleme Formu -->
    </div>
  </div>
</template>

<script>
import HeaderText from "@/components/common/child_page_header";
export default {
  components: { HeaderText },
  created() {
    if (!this.update_product_data.ProductID) {
      this.$router.push("/admin/product");
    }
  },
  asyncData(context) {
    return {
      update_product_data: context.store.getters.getUpdateSelectProduct
    };
  },
  methods: {
    updateProduct() {
      this.$store
        .dispatch("updateProductItem", this.update_product_data)
        .then(resp => {
          if (resp) {
            this.$router.push("/admin/product");
          }
        })
        .catch(err => {
          alert(err);
        });
    }
  }
};
</script>

<style>
</style>