<template>
  <div class="my-2 col-12 shadow p-2">
    <h5>Ürün Oluştur</h5>
    <hr />

    <div class="row">
      <div class="col-6">
        <h6>Ürün Bilgileri</h6>
        <hr />
        <label for>
          Ürün Adı
          <i class="fas fa-tag" />
        </label>
        <input
          type="text"
          placeholder="Bir Ürün Adı Giriniz"
          v-model="create_product_data.product_title"
          class="form-control"
        />
        <label for>
          Ürün Tipi
          <i class="fas fa-utensils"></i>
        </label>
        <select name id class="form-control" v-model="create_product_data.product_type">
          <option value="-1" selected disabled>Lütfen Bir Ürün Tipi Seçiniz</option>
          <option value="0">Yiyecek</option>
          <option value="1">İçecek</option>
        </select>
      </div>
      <div class="col-6">
        <h6>Fiyat Bilgileri</h6>
        <hr />
        <label for>
          Alış Fiyatı
          <i class="fas fa-lira-sign" />
        </label>
        <input
          type="number"
          step="0.1"
          class="form-control"
          v-model="create_product_data.product_purchase_price"
        />
        <label for>
          Satış Fiyatı
          <i class="fas fa-lira-sign" />
        </label>
        <input
          type="number"
          step="0.1"
          class="form-control"
          v-model="create_product_data.product_sale_price"
        />

        <small style="font-size:12px;">
          <strong>Alış ve Satış Fiyatı Arasında : {{getPriceDiff}} ₺ Fark var!</strong>
        </small>
      </div>
      <div class="col-12 my-2">
        <transition name="fade">
          <button
            v-if="(getPriceDiff > 0 && create_product_data.product_title.length > 0 && create_product_data.product_type > -1)"
            @click="$emit('CreateProductListener', create_product_data)"
            class="btn btn-primary btn-block"
          >
            Oluştur
            <i class="fas fa-plus-square"></i>
          </button>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      create_product_data: {
        product_title: "",
        product_type: -1,
        product_purchase_price: 0.0,
        product_sale_price: 0.0
      }
    };
  },
  computed: {
    getPriceDiff() {
      return (
        this.create_product_data.product_sale_price -
        this.create_product_data.product_purchase_price
      );
    }
  },
  created(){
    this.create_product_data.product_title = this.queryProductName;
  },
  props : {
    queryProductName:{
      default : ""
    }
  }
};
</script>

<style>
</style>
