<template>
  <div class="col-12 shadow p-2 my-2">
    <h5>Ürün Listesi</h5>
    <hr />
    <div class="table-reponsive">
      <table class="table">
        <thead class="text-center">
          <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Ürün Tipi</th>
            <th>Alış Fiyatı (₺)</th>
            <th>Satış Fiyatı (₺)</th>
            <th>Fiyat Farkı (₺)</th>
            <th>
              <i class="fas fa-cog"></i>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ProductListItem
            @TrashProductListener="$emit('TrashProductListener', $event)"
            v-for="item in productList"
            :key="item.ID"
            :productItem="item"
          />
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import ProductListItem from "./ProductListItem";
export default {
  components: { ProductListItem },
  props: ["productList"]
};
</script>