<template>
  <tr>
    <td>{{productItem.ProductID}}</td>
    <td>{{productItem.Title}}</td>
    <td>{{productItem.ProductType}}</td>
    <td>{{productItem.Purchase}} ₺</td>
    <td>{{productItem.Sale}} ₺</td>
    <td>{{productItem.PriceDiff}} ₺</td>
    <td>
      <!--
            to="/admin/product/edit-product/3"
      -->
      <button @click="RedirectProductUpdate(productItem)" class="btn btn-sm btn-light">
        <i class="fas fa-edit"></i>
      </button>
      <button @click="$emit('TrashProductListener', productItem)" class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i>
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["productItem"],
  methods: {
    RedirectProductUpdate(product_item) {
      this.$store.dispatch("setUpdateProductItem", product_item).then(() => {
        this.$router.push(
          "/admin/product/edit-product/" + product_item.ProductID
        );
      });
    }
  }
};
</script>