<template>
  <div class="container">
    <div class="row">
      <div class="col-12 bg-light">
        <nuxt-link to="/admin/panel">
          <i class="fas fa-arrow-left"></i> Geri
        </nuxt-link>
      </div>

      <div class="col-12 my-2 p-4">
        <div class="row">
          <div class="col-6 text-left">
            <h3>Hızlı Randevu Oluştur</h3>
          </div>
          <div class="col-6 text-right">
            <button
              class="btn btn-success"
              @click="showCreateReservationForm = !showCreateReservationForm"
            >
              <i class="fas fa-eye"></i>
            </button>
          </div>
          <transition name="fade">
            <div v-show="showCreateReservationForm" class="col-12">
              <ReservationForm @createReservation="createReservation($event)" />
            </div>
          </transition>
        </div>
      </div>

      <div class="col-12 shadow my-2 p-4">
        <h4>Randevu Listeleme Seçenekleri</h4>
        <div class="row">
          <div class="col-6">
            <label for>Randevu Türünü Seçiniz</label>
            <select v-model="filterData.selection_type" name id class="form-control">
              <option value="-1" selected disabled>Lütfen Seçiniz</option>
              <option value="-1">Tümünü Göster</option>
              <option value="0">Geldi</option>
              <option value="1">Gelmedi</option>
            </select>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <label for>Başlangıç Tarihi</label>
                <input v-model="filterData.started_date" type="date" class="form-control" />
              </div>
              <div class="col-6">
                <label for>Bitiş Tarihi</label>
                <input v-model="filterData.finished_date" type="date" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-6 offset-6 mt-3">
            <button class="btn-block btn btn-primary" @click="filteredList">
              Getir
              <i class="fas fa-search"></i>
            </button>
            <button
              @click="clearFilteredList"
              v-if="filterStatus == 1"
              class="btn-block btn btn-secondary"
            >
              Temizle
              <i class="fas fa-broom" />
            </button>
          </div>
        </div>
      </div>
      <div class="col-12" v-if="reservationList.length > 0">
        <h4>Mevcut Randevular</h4>
        <hr class="bg-dark" />
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>Müşteri Adı Soyadı</th>
                <th>Randevu Tarihi - Saat</th>
                <th>Randevu Durumu</th>
                <th>İşlem</th>
              </tr>
            </thead>
            <tbody>
              <ReservationTableItem
                v-for="reservation_item in reservationList"
                v-bind:key="reservation_item.ID"
                @approvedCustomer="approvedCustomer($event)"
                @trashReservation="trashItem($event)"
                @updateReservationListener="updateReservation($event)"
                :reservationItem="reservation_item"
              />
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 mt-2 p-4" v-else>
        <div class="alert alert-danger">
          <b>Randevu Bulunamadı!</b>
          <hr />
          <i>Aradığınız değerlere göre veya herhangi bir randevu geçmişi yok</i>
          <br />
          <small>Yeni bir randevu oluşturmayı deneyebilirsiniz.</small>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import swal from "sweetalert2";
import ReservationTableItem from "@/components/admin/Reservation/ReservationTableItem";
import ReservationForm from "@/components/RandevuFormu";
export default {
  components: { ReservationTableItem, ReservationForm },
  layout: "admin",
  data() {
    return {
      showCreateReservationForm: false,
      filterData: {
        started_date: "",
        finished_date: "",
        selection_type: -1
      },
      filterStatus: 0
    };
  },
  methods: {
    approvedCustomer(approved_item) {
      // alert(reservation_id);
      let new_item = { ...approved_item, change_value: "0" };
      this.$store.dispatch("changeReservationStatus", new_item);
    },
    trashItem(reservation_item) {
      this.$store
        .dispatch("trashReservationItem", reservation_item)
        .then(success => {
          if (success.status) {
            swal.fire({
              icon: "success",
              title: "İşlem Başarılı!",
              text: success.message
            });
          } else {
            swal.fire({
              icon: "error",
              title: "Bir Hata Olabilir!",
              text: success.message
            });
          }
        })
        .catch(err => {
          alert("Bir Hata Var!");
          console.error(err);
        });
    },
    createReservation(item) {
      //console.log(item);
      this.$store
        .dispatch("createReservationItem", item)
        .then(resp => {
          console.log(resp);
          if (resp.status == true) {
            swal.fire({
              icon: "success",
              title: "İşlem Başarılı!",
              text: resp.message
            });
          } else {
            swal.fire({
              icon: "error",
              title: "Bir Hata Olabilir!",
              text: resp.message
            });
          }

          this.showCreateReservationForm = false;
        })
        .catch(err => {
          alert("hata var");
          console.log(err);
        });
    },
    filteredList() {
      this.$store
        .dispatch("filteredList", this.filterData)
        .then(resp => {
          this.reservationList = resp.result;
          this.filterStatus = 1;
        })
        .catch(err => {
          swal.fire({
            title: "Bir Hata Var",
            text: err,
            icon: "error"
          });
        });
    },
    clearFilteredList() {
      this.$store
        .dispatch("filteredList", {
          selection_type: -1,
          started_date: "",
          finished_date: ""
        })
        .then(resp => {
          this.reservationList = resp.result;
          this.filterStatus = 0;
          this.filterData = {
            started_date: "",
            finished_date: "",
            selection_type: -1
          };
        })
        .catch(err => {
          swal.fire({
            title: "Bir Hata Var",
            text: err,
            icon: "error"
          });
        });
    },
    updateReservation(reservation_item) {
      this.$store.dispatch("setUpdateItem", reservation_item).then(state => {
        this.$router.push(
          "/admin/reservation/edit-reservation/" + reservation_item.ID
        );
      });
    }
  },
  asyncData(context) {
    return {
      reservationList: context.store.getters.getReservationList
    };
  }
};
</script>
