<template>
  <div class="container">
    <div class="row">
      <BackButton content="Yeni Bir İşlem Oluştur" icons="fas fa-box"/>
      <div class="col-12">
        <hr />
      </div>
      <ShowDeskList
      @DeskSelectedListener="getDeskDetail($event)"
      :deskList="deskList"/>
      <SelectedDeskInfo v-if="selected_desk_info.ID > 0" :selectedDesk="selected_desk_info" />
      <div class="col-12" v-if="selected_desk_info.ID > 0">
        <CreateAdditionMovement
        v-if="selected_product.ProductID < 1"
        @GetProductListener="selectedProduct($event)"
        :addApprovedButton="true"
        v-bind:showAddButton="false" />


        <SelectedProductInfo v-else :product="selected_product" class="border p-2 mt-2 bg-primary text-white"/>

      </div>
      <div class="col-12 mt-2" v-if="selected_product.ProductID > 0">
        <button class="btn btn-success btn-block" @click="createAddition">İşlemi Oluştur</button>
      </div>
    </div>
  </div>
</template>

<script>
import BackButton from "@/components/common/child_page_header";
import ShowDeskList from "@/components/admin/Desks/ShowDeskList";
import SelectedDeskInfo from "@/components/admin/Desks/SelectedDeskInfo";
import CreateAdditionMovement from "@/components/admin/Addition/CreateAdditionMovement";
import SelectedProductInfo from "@/components/admin/Addition/SelectedProductInfo";
import Swal from "sweetalert2"


export default {
  components: {
    BackButton,
    ShowDeskList,
    SelectedDeskInfo,
    CreateAdditionMovement,
    SelectedProductInfo
  },
  data(){
    return {
      selected_desk_info : {},
      selected_product : {
        ProductID : 0
      },
      addition_id : 0
    }
  },
  asyncData(context){
    return {
      deskList : context.store.getters.getDeskList.filter((item)=>{
        return item.DeskIsOpenValue === "0" || item.DeskIsOpenValue === 0
      })
    }

  },
  created(){
    console.log(this.deskList);
  },
  methods : {
    getDeskDetail(desk_id)
    {
      this.selected_desk_info = this.deskList.filter(item => {
        return item.ID === desk_id
      })[0];

      //console.log(this.selected_desk_info);
    },
    selectedProduct(selected_product){
      this.selected_product = selected_product;
      console.log(this.selected_product);
    },
    createAddition(){
      // Adisyon oluştur,

      console.log(this.selected_desk_info);
      this.$store.dispatch('createAddition', this.selected_desk_info.ID)
      .then((created_addition_id) => {
        this.addition_id = created_addition_id;

        this.$store.dispatch('createAdditionMovement', {
          AdditionID : this.addition_id,
          ProductCount : this.selected_product.orderCount,
          ProductID: this.selected_product.ProductID
        })
        .then((result) => {
          Swal.fire('Başarılı', "Adisyon Başarıyla Oluşturuldu! Yönlendiriliyorsunuz", "success").then(()=>{
            //this.$router.push('/admin/addition/show-addition/' + this.addition_id);

            window.location.href = "/admin/addition/show-addition/" + this.addition_id;
          });
        })
        .catch(err => {
          Swal.fire("Bir Hata Var", err, "error");
        });

      })
      .catch(err => {
        alert(err);
        console.log(err);
      });
      // Adisyona gerekli hareketi ekle

      // Adisyon sayfasına yönlendir
    }
  },
};
</script>
