<template>
  <div class="col-12 border my-2 p-4 shadow">
    <!-- Header -->
    <div class="row">
      <div class="col-6">
        <h4>Aktif Masa Listesi</h4>
      </div>
      <div class="col-6">
        <button
          @click="() => {ShowActiveDeskList = !ShowActiveDeskList; btnHideShowClass = (btnHideShowClass == 'fa-eye') ? 'fa-times-circle' : 'fa-eye'}"
          class="btn btn-sm btn-light float-right"
        >
          <i :class="['fas ' + btnHideShowClass]"></i>
        </button>
      </div>
    </div>
    <!-- Header -->
    <transition name="fade">
      <div class="row" v-show="ShowActiveDeskList">
        <!-- Content -->
        <div class="col-12">
          <small class="text-danger">Son 5 Aktif Masayı Göstermektedir</small>
          <div class="table-responsive" v-if="AdditionList.length > 0">
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>#</th>
                  <th>Masa Adı</th>
                  <th>Masa Pozisyonu</th>
                  <th>Masa Ücret Toplamı</th>
                  <th>Masa İşlem Sayısı</th>
                  <th>
                    <i class="fas fa-cog"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ActiveDeskListItem
                  :AdditionItem="item"
                  v-for="item in AdditionList"
                  v-bind:key="item.AdditionID"
                />
              </tbody>
            </table>
          </div>

          <div class="my-2 p-2" v-else>
            <strong> İşlem Geçmişi Bulunamadı ! </strong>
            <br>
            <span>
              Bir işlem yaptığına emin misin? Çünkü ben aktif bir işlem bulamadım da
            </span>
            <hr>
            <div class="border shadow p-2">
              <nuxt-link to="/admin/addition/create-addition">
                <i class="fas fa-info-circle"></i>
                Bana tıklayarak veya aşağıda bulunan işlem oluştur butonuna basarak aktif bir işlem oluşturabilirsin. </nuxt-link>
            </div>
          </div>
        </div>
        <!-- Content -->

        <!-- Footer -->
        <div class="col-6">
          <nuxt-link to="/admin/addition" class="btn btn-block btn-secondary">Tüm Adisyonları Göster</nuxt-link>
        </div>
        <div class="col-6">
          <nuxt-link
            to="/admin/addition/create-addition"
            class="btn btn-block btn-primary"
          >Yeni Bir İşlem Oluştur</nuxt-link>
        </div>
        <!-- Footer -->
      </div>
    </transition>
  </div>
</template>

<script>
import ActiveDeskListItem from "./Desks/active_desk_list_item";
export default {
  components: { ActiveDeskListItem },
  data() {
    return {
      ShowActiveDeskList: true,
      btnHideShowClass: "fa-times-circle"
    };
  },
  props: ["AdditionList"]
};
</script>
