<template>
  <div class="container">
    <div class="row">
      <!-- Menu List -->
      <MenuList />
      <!-- Menu List -->

      <!-- Rezervasyon Listesi -->
      <div class="col-12">
        <h3>Rezervasyon Listesi</h3>
        <div class="list-group col-12">
          <ReservationItem
            class="my-1 col-12"
            style="border-radius:4px;"
            v-for="item in resList"
            :key="item.ID"
            :ritem="item"
            v-if="resList.length > 0"
          />
          <div class="alert alert-danger" v-else>Herhangi bir randevu bulunamadı!</div>
        </div>
        <div class="col-12 offset-1 my-4">
          <nuxt-link
            class="alert alert-dark w-100"
            to="/admin/reservation"
          >Tüm Randevuları Görüntüle</nuxt-link>
        </div>
      </div>
      <!-- Rezervasyon Listesi -->
    </div>
  </div>
</template>

<script>
import MenuList from "../common/MenuList";
import ReservationItem from "./Reservation/ReservationListGroupItem";
export default {
  components: { MenuList, ReservationItem },
  props: ["resList"]
};
</script>
