<template>
  <div class="container">
    <div class="row">
      <ChildPageHeader content="Adisyon Listesi" icons="fas fa-poll-h" />
      <!-- Filtreleme Dalgası -->
      <AdditionFilter
        :deskList="deskList"
        @FilterListener="filterEvent($event)"
        @FilterRemove="removeFilter()"
      />
      <!-- Filtreleme Dalgası -->
      <!-- Tablo Dalgası -->
      <AdditionList :additionList="additionList"/>
      <!-- Tablo Dalgası -->
    </div>
  </div>
</template>

<script>
import ChildPageHeader from "@/components/common/child_page_header";
import AdditionFilter from "@/components/admin/Addition/AdditionFilter";
import AdditionList from "@/components/admin/Addition/AdditionList";
export default {
  components: { ChildPageHeader, AdditionFilter, AdditionList },
  data(){},
  asyncData(context){
    return {
      additionList: context.store.getters.getAdditionList,
      deskList: context.store.getters.getDeskList
    }
  },
  methods : {
    filterEvent(filterItem)
    {

      this.additionList = this.$store.getters.getAdditionList;
      let filteredList = [];

      if(filterItem.desk > -1 && filterItem.stateValue > -1)
      {
        filteredList = this.additionList.filter((item => item.Status === filterItem.stateValue && item.DeskID === filterItem.desk));
      }
      else if(filterItem.stateValue > -1)
      {
        filteredList = this.additionList.filter(item => item.Status == filterItem.stateValue);
      }
      else if(filterItem.desk > -1 ){
        filteredList = this.additionList.filter(item => item.DeskID == filterItem.desk);
      }



      this.additionList = filteredList;
    },
    removeFilter(){
      this.additionList = this.$store.getters.getAdditionList;
    }

  }
};
</script>

<style>
</style>
